
# Python
__pycache__/
*.py[cod]
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
.terraform.lock.hcl

# System
.DS_Store
Thumbs.db

# Environment or credentials
.env
credentials.csv

# Editor folders
.vscode/
.idea/
